{% extends "base.html" %}
{% block title %}Đăng nhập{% endblock %}
{% block content %}
<div style="max-width:420px;" class="mx-auto">
  <h3>Đăng nhập</h3>
  <form method="POST">
    <div class="mb-3">
      <label>Tên đăng nhập</label>
      <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Mật khẩu</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <button class="btn btn-primary w-100">Đăng nhập</button>
  </form>
  <p class="mt-2">Chưa có tài khoản? <a href="{{ url_for('register') }}">Đăng ký</a></p>
</div>
{% endblock %}
